<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Django Tutorial</title>
    <style>
        table,th,td {
            border: 1px solid black;
        }
    </style>
</head>
<body>
    <h1>This page is returned by Django Server</h1>
  <table>
    <tr>
        <th>S.name</th>
        <th>Name</th>
        <th>Age</th>
    </tr>
  

  {% for people in peoples %} 
  <tr>
   <td>{{forloop.counter}}</td>
   <td>{{people.name}}</td>
   <td>{{people.Age}}</td>
  </tr>

  {%endfor%}

</table>

<p>{{text | truncatechars:80}}</p>

</body>
</html>